<a href="https://colab.research.google.com/github/maxkim77/pythonbootcamp/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#[In]

이름 = '캣'
설명 = '위니브 월드에서 가장 급성장하는 생선회사 대표 캣'
나이 = 19
오늘_잡은_물고기 = '100000'
직원수 = 4
키 = '45.9cm'
몸무게 = 1.6
잡식 = True
돈 = 1100000
훈장 = ['백상아리를 잡은 고양이', '성실한 납세자', '해골섬 낚시꾼', '청년 고용 착한 기업', '회사를 설립한 자']
기술 = ['고기잡이', '고기팔기', '낚시_Lv5', '통발_Lv5', '큰그물_Lv5']

In [3]:
#[In]

for x in (1,2,3,4,5):
	print(f'고등어 포장 {x}번째 입니다.')

고등어 포장 1번째 입니다.
고등어 포장 2번째 입니다.
고등어 포장 3번째 입니다.
고등어 포장 4번째 입니다.
고등어 포장 5번째 입니다.

In [5]:
#[In]

왕국 = '위니브 월드'
for a in 왕국 :
    print(a)

위
니
브

월
드

In [7]:
#[In]

기술 = ['고기잡기', '고기팔기', '낚시_Lv1', '통발_Lv1', '큰그물_Lv1']
for a in 기술:
    print(a)

고기잡기
고기팔기
낚시_Lv1
통발_Lv1
큰그물_Lv1

In [9]:

캣의_상태창 = {
    '이름': '캣',
    '설명':'위니브 월드에서 가장 급성장하는 생선회사 대표 캣',
    '나이':'19',
    '키': '45.9cm',
    '몸무게': 1.6
}

for a in 캣의_상태창:
    print(a)

이름
설명
나이
키
몸무게

In [11]:
#[In]

for key,value in 캣의_상태창.items():
    print("{0} : {1}".format(key, value))

이름 : 캣
설명 : 위니브 월드에서 가장 급성장하는 생선회사 대표 캣
나이 : 19
키 : 45.9cm
몸무게 : 1.6

In [13]:
#[In]

for a in range(0, 10, 2):
    print(a)

0
2
4
6
8

In [15]:
#[In]

for a in range(10, 5, -1):
    print(a)

10
9
8
7
6

In [17]:
#[In]

listx= [100,200,300,400]
strx= 'abcd'
listxlter = iter(listx)
strxlter= iter(strx)
print(next(listxlter),next(listxlter),next(listxlter),next(listxlter))
print(next(strxlter),next(strxlter),next(strxlter),next(strxlter))

100 200 300 400
a b c d

In [19]:
#[In]

for i in range(100):
    print(f'{i} 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')
print('수고하셨습니다.')

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
5 물고기를 잡았습니다.
만선입니다. 물고기를 다 잡았습니다.
수고하셨습니다.

In [21]:
#[In]

#1
x= [i for i in range(1, 10)]
print(x)

#2
y=['{}X{}={}'.format(i, j, i*j) for i in range(2, 10) for j in range(1, 10)]
print(y)

#3
def sumthingFunction(i):
    if i % 100 ==0:
        return i
    else:
        return 0
기존리스트= [100,200,300,101,202,303]
새로운리스트= [sumthingFunction(i) for i in 기존리스트]
print(sum(새로운리스트))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['2X1=2', '2X2=4', '2X3=6', '2X4=8', '2X5=10', '2X6=12', '2X7=14', '2X8=16', '2X9=18', '3X1=3', '3X2=6', '3X3=9', '3X4=12', '3X5=15', '3X6=18', '3X7=21', '3X8=24', '3X9=27', '4X1=4', '4X2=8', '4X3=12', '4X4=16', '4X5=20', '4X6=24', '4X7=28', '4X8=32', '4X9=36', '5X1=5', '5X2=10', '5X3=15', '5X4=20', '5X5=25', '5X6=30', '5X7=35', '5X8=40', '5X9=45', '6X1=6', '6X2=12', '6X3=18', '6X4=24', '6X5=30', '6X6=36', '6X7=42', '6X8=48', '6X9=54', '7X1=7', '7X2=14', '7X3=21', '7X4=28', '7X5=35', '7X6=42', '7X7=49', '7X8=56', '7X9=63', '8X1=8', '8X2=16', '8X3=24', '8X4=32', '8X5=40', '8X6=48', '8X7=56', '8X8=64', '8X9=72', '9X1=9', '9X2=18', '9X3=27', '9X4=36', '9X5=45', '9X6=54', '9X7=63', '9X8=72', '9X9=81']
600

In [23]:
#[In]

#다중 리스트 for문
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i,j in skill:
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [25]:
#[In]

# enumerate

skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for i, (skillName, skillLevel, skillGrade) in enumerate(skill):
    print(i, skillName, skillLevel, skillGrade)

for i, j in enumerate(skill, 100):
    print(i, j)

0 고기잡이 100 SS
1 고기팔기 120 SSS
2 낚시 5 C
3 통발 5 C
4 큰그물 5 C
100 ('고기잡이', 100, 'SS')
101 ('고기팔기', 120, 'SSS')
102 ('낚시', 5, 'C')
103 ('통발', 5, 'C')
104 ('큰그물', 5, 'C')

In [29]:
#[In]

시간 = 0
현재시간 = int(input("시(hour)를 입력해주세요. "))
종료시간 = 18
if 현재시간 < 종료시간:
    print('영업시간이 끝났기 때문에 영업을 종료합니다.')
else:
    while True:
				시간 += 1
        현재시간 += 1
        print('{}시간이 지나 {}시가 되었습니다'.format(시간,현재시간))
        if 현재시간 == 종료시간:
            print('영업 종료시간이 되었기 때문에 영업을 종료합니다.')
            break

IndentationError: ignored

In [31]:
# 예제1(while)
while 조건:
    반복 실행할 코드
    continue #while 다음 반복문 수행
    반복 실행할 코드 # continue 사용시 무시되는 코드

# 예제2(for)
for 변수 in 범위:
    반복 실행할 코드
    continue #for 다음 반복문 수행
    반복 실행할 코드 # continue 사용시 무시되는 코드

SyntaxError: ignored

In [33]:
#[In]

#for, else문
for i in range(5, 0, -1):
    print("고등어 ", i, " 개 남았습니다.")
else:
    print('고등어 다 팔렸습니다.')

고등어  5  개 남았습니다.
고등어  4  개 남았습니다.
고등어  3  개 남았습니다.
고등어  2  개 남았습니다.
고등어  1  개 남았습니다.
고등어 다 팔렸습니다.

In [35]:
#[In]

i = 2
while i < 10 :
    k = 1
    while k < 10:
        print(i, " * ", k, " = ", i * k)
        k += 1
    i += 1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [37]:
fish = 5
while True:
    print("고등어 ", fish, "개 남았습니다.")
    fish -= 1
    if fish == 0:
        print("고등어다 팔렸습니다.")
        break

고등어  5 개 남았습니다.
고등어  4 개 남았습니다.
고등어  3 개 남았습니다.
고등어  2 개 남았습니다.
고등어  1 개 남았습니다.
고등어다 팔렸습니다.

In [39]:
#[In]

fish = 5
while fish > 0:
    print("고등어 ", fish, "개 남았습니다.")
    # if fish < 3:
    #     break
    fish -= 1
else:
    print('고등어 다 팔렸습니다.')

고등어  5 개 남았습니다.
고등어  4 개 남았습니다.
고등어  3 개 남았습니다.
고등어  2 개 남았습니다.
고등어  1 개 남았습니다.
고등어 다 팔렸습니다.

In [43]:
#[In]

시간 = 0
현재시간 = int(input("시(hour)를 입력해주세요. "))
종료시간 = 18
if 현재시간 < 종료시간:
    print('영업시간이 끝났기 때문에 영업을 종료합니다.')
else:
    while True:
				시간 += 1
        현재시간 += 1
        print('{}시간이 지나 {}시가 되었습니다'.format(시간,현재시간))
        if 현재시간 == 종료시간:
            print('영업 종료시간이 되었기 때문에 영업을 종료합니다.')
            break

IndentationError: ignored

In [45]:
#[In]

#continue
구매개수_총가격= [
    (3, 15000),
    (5, 25000),
    (1, 5000),
    (8, 40000),
    (0, 0),
    (2, 10000)
]

for 구매개수, 총가격 in 구매개수_총가격:
    if 구매개수 < 1:
        continue
    print('구매개수는 {}개이며 {}원입니다.'.format(구매개수, 총가격))

구매개수는 3개이며 15000원입니다.
구매개수는 5개이며 25000원입니다.
구매개수는 1개이며 5000원입니다.
구매개수는 8개이며 40000원입니다.
구매개수는 2개이며 10000원입니다.

In [47]:
#[In]

#for, else문
for i in range(5, 0, -1):
    print("고등어 ", i, " 개 남았습니다.")
else:
    print('고등어 다 팔렸습니다.')

고등어  5  개 남았습니다.
고등어  4  개 남았습니다.
고등어  3  개 남았습니다.
고등어  2  개 남았습니다.
고등어  1  개 남았습니다.
고등어 다 팔렸습니다.

In [49]:
#[In]

try:
    i = 1
    j = 1
    x = i/j
except:
    print("error")
else:
    print(x)

1.0

In [50]:
#[In]

i = 2
while i < 10 :
    k = 1
    while k < 10:
        print(i, " * ", k, " = ", i * k)
        k += 1
    i += 1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81